.library {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 20rem;
  box-shadow: 2px 2px 50px rgb(204, 204, 204);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 40%;
  }
  &:hover {
    background-color: rgba(255, 145, 240, 0.295);
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.8rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(214, 250, 255) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(194, 194, 194, 0.5);
  border-radius: 20px;
  border: transparent;
}
